.helmet{
    width: 50px;
    height: 50px;
    margin-top: -15%;
    margin-bottom: 10%;
    margin-left: 10%;    
}

.backpack{
    margin-top: 35%;
    margin-left: 10%
}
.peep{
    margin-top: -25%;
}