@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

:root {
  --ion-background-color: #fef8ec;
  --ion-font-family: "Raleway", sans-serif;
}

ion-toolbar {
  --ion-toolbar-background: #b0ccc7;
  --ion-font-family: "Yellowtail", cursive;
}

ion-tab-bar {
  --background: #b0ccc7;
}

ion-button {
  --background: #466a63;
  --color: #fef8ec;
  font-weight: 600;
  font-size: 1.5em;
  padding: 0.6em 0.01em;
}

ion-toolbar ion-button {
  --background: #b0ccc7;
}

ion-icon {
  color: #466a63;
}

ion-icon:active {
  color: #fef8ec;
}

ion-title {
  font-size: 30px;
  color: #fef8ec;
  text-shadow: 1px 1px #466a63;
  font-weight: lighter;
}

ion-segment-button {
  --color-checked: #fef8ec;
  --indicator-color: #466a63;
}

span {
  color: #466a63;
}
